html{
    background:linear-gradient(#08f,#fff);
    padding: 40px;
    width: 170px;
    height:700px;
    margin:0 auto;
}
#trafficsignal{
    background: #111;
    background-image: linear-gradient(transparent 3%,#111 30%);
    width: 170px;
    height: 400px;
    border-radius: 20px;
    position:relative;
    border: 5px solid #333;
}
#trafficsignal:before{
    content: "";
    background:black;
    width:170px;
    height:150px;
    position: absolute;
    top:-20px;
    border-radius: 100%;
    z-index: -1;

}
#trafficsignal:after{
    background:#222;
    background-image: linear-gradient(-90deg,#222,#444 30% ,#000);
    content: "";
    width: 50px;
    height: 500px;
    margin-left:60px;
    position: absolute;
    top:150px;
    z-index: -1;

}
#protector{
    background: transparent;
    width:180px;
    height: 0px;
    position: absolute;
    top: 20px;
    left:-35px;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    border-top: 90px solid #111;
    border-radius: 10px;
    z-index: -1;
}
#protector:nth-child(2){
    top: 140px;
}
protector:nth-child(3){
   top: 260px;
}
#red{
    background: red;
    background-image:radial-gradient(brown,transparent);
    background-size: 5px 5px;
    width:100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top:20px;
    left:35px;
    border: 2px dotted red;
    box-shadow: inset 0 0 20px #111, 0 0 10px red;
    animation: red 15s infinite;
}
#yellow{
    background: yellow;
    background-image:radial-gradient(orange,transparent);
    background-size: 5px 5px;
    width:100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top:145px;
    left:35px;
    border: 2px dotted yellow;
    box-shadow: inset 0 0 20px #111, 0 0 10px yellow;
    animation: yellow 15s infinite;
}
#green{
    background: green;
    background-image:radial-gradient(lime,transparent);
    background-size: 5px 5px;
    width:100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top:270px;
    left:35px;
    border: 2px dotted green;
    box-shadow: inset 0 0 20px #111, 0 0 10px green;
    animation: green 15s infinite;
}
@keyframes red{
    0%{opacity: 1;}
    20%{opacity: 1;}
    40%{opacity: 1;}
    60%{opacity: 1;}
    80%{opacity: 1;}
    100%{opacity: 1;}
}

@keyframes yellow{
    0%{opacity: 1;}
    20%{opacity: 1;}
    40%{opacity: 1;}
    60%{opacity: 1;}
    80%{opacity: 1;}
    100%{opacity: 1;}
}
@keyframes green{
    0%{opacity: 1;}
    20%{opacity: 1;}
    40%{opacity: 1;}
    60%{opacity: 1;}
    80%{opacity: 1;}
    100%{opacity: 1;}
}