#backGround{
    width:1200px;
    height:600px;
    background:url('../Image/background2.png');
    border-style:solid;
    border-width:1px;
    border-color:black;
    margin: 0;
    padding:0;
}
#vehicle{
    background:url('../Image/jeep.png');
    position: absolute;
    background-size:150px;
    height:96px;
    width:144px;
    left:0px;
    top:530px;
}

#oneHeart{
    background:url('../Image/heart.png');
    height:64px;
    width:64px;
}  
#twoHeart{
    background:url('../Image/twohearts.png');
    height:64px;
    width:128px;
}  
#threeHeart{
    position: absolute;
    background:url('../Image/threehearts.png');
    height:64px;
    width:192px;
    left:1000px;
    top:10px;
}  
#maccursor{
 	cursor: none;
 	width: 60px;
 	height: 60px;
 	background-size: contain;
     background-image: url('../Image/aim2.png');
 	background-repeat: no-repeat;
    background-position: top left;    
 	position: absolute;
 	top: 0;
 	left: 0;
 	z-index: 10000;
    }   
    
#score_div{
    position: absolute;
    margin-top: 20%;
    margin-left: 10%;
    font-size: 35px;
    background-color: white;
    color: #454545;
    padding: 10px;
    box-shadow: 4px 4px 0px 1px #808080;
    top:50px;
    left:0px;
    }

#scoreBoard{
    background: silver;
    width: 1200px;    
    height: 80px;
    margin:1px 1px;
    position:relative;
}

#EffectiveShots{
    right:0;
    top:0;
}

#MistakeShots{
    right:0;
    bottom:0;
}

.btnStyle {
	border-radius: 4px;
	border: thin solid #F0E020;
	background-color: #F8F094;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	font-size:20px;
	color: #663300;
	padding: 5px 30px;
	margin:8px 70px;
}

/* .button {
    padding: 15px 25px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  } */
  
  .btnStyle:hover {background-color: #3e8e41}
  
  .btnStyle:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }